<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Confirmação de Envio</title>
    <link rel="stylesheet" href="/static/css/styles.css">
</head>
<body>
    <div class="container">
        <h1>Confirmação de Envio</h1>
        <p><strong>Mensagem a ser enviada:</strong></p>
        <pre>{{ message }}</pre> <!-- Usando <pre> para preservar a formatação -->
        
        <form action="{{ url_for('send_messages') }}" method="post">
            <input type="hidden" name="message" value="{{ message }}">
            <p><strong>Números:</strong></p>
            {% for number in numbers %}
                <input type="text" name="numbers" value="{{ number }}" readonly>
            {% endfor %}
            <button type="submit">Enviar Mensagens</button>
            <a href="{{ url_for('index') }}" class="cancel-link">Cancelar</a>
        </form>
    </div>
</body>
</html>
